<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">
<title>homeserver</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js" crossorigin></script>
<script src="config.js?"></script>
<style type="text/css">
body{
	background-color:#444 ;
	color:white ;
}
td {
	padding-left:1rem ;
}
a,a:visited {
	color:#aaf ;
}
span.path {
	font-weight: bold ;
}
</style>
</head>
<body>
<div id=reactive>
<div id=ui>
	sort: <select v-model="sort" @change="setsort()">
		<option value=0>filename</option>
		<option value=1>date desc</option>
		<option value=2>date asc</option>
	</select>
	<label><input type=checkbox v-model="thumb">show thumb</label>
</div>
<spanc class=path>{{path_disp}}</spanc><br/>
{{extmsg}}
<table>
	<tr>
		<td><a :href="gethref(null)[0]">⇑UP</a></td><td></td><td></td>
	</tr>
	<template v-for="l of list" :key="l.name">
	<tr>
		<td><a :href="gethref(l)[0]" :target="gethref(l)[1]">{{l.name}}
		<template v-if="getthumb(l)">
			<br/><img :src="getthumb(l)" height=100>
		</template>			
		</a></td>
		<td>{{l.date}}</td>
		<td style="text-align:right;">{{l.size}}</td>
		<td v-if="l.type=='dir'"><a :href="`apps/fullimg.html?${base}${path}${l.path}`" target="_blank">SS</a></td>
	</tr>
	</template>
</table>
</div>
</body>
<script type="module">
import {getdir} from "./getdir.mod.js" 

let app= Vue.createApp({
	data() {
		return {
			base:Server+Shareroot,
			path:"",
			path_disp:"Loading...",
			list:[],
			openlist:Openlist,
			sort:0,
			extmsg:"",
			thumb:false 
		}
	},
	methods:{
		setsort(mode) {
			this.setlist(this.list)
		},
		setlist(l) {
			l.sort((a,b)=>{
				switch(this.sort) {
					case "0": return a.name>b.name?1:-1;break 
					case "1": return a.date<b.date?1:-1;break 
					case "2": return a.date>b.date?1:-1;break 
				}
			})
			this.list = l
		},
		getthumb(l) {
			if(!this.thumb)return false 
			let ret = false 
			if(l.name.match(/\.(jpe?g|png|gif|bmp)$/i)) ret = `${this.base}${this.path}${l.path}`
//			if(l.name.match(/\.mp4$/i)) ret = `${this.base}${this.path}${l.path}`
			return ret
		},
		gethref(l) {
			if(l===null) {//dir up
					const pp = this.path.split("/")
					pp.pop()
					pp.pop()
					return ["?"+pp.join("/")+"/","_self"]		
			}
			let href = `${this.base}${this.path}${l.path}`
			let tgt = "_self" 
			if(l.type=="dir") {
				let path = this.path
				href = `?${path}${l.path}`
			}
			if(l.path.match(/\.html?$/)) {
				href=`${this.base}${this.path}${l.path}`
				tgt ="_blank"
			}
			this.openlist.forEach(o=>{
				if(l.path.match(o.reg)) {
					href=o.open+`${this.base}${this.path}${l.path}`
					tgt ="_blank"
				}				
			})
			return [href,tgt]
		}
	},
	watch: {
		path(newpath) {
			const doc = new DOMParser().parseFromString(decodeURI(newpath), 'text/html')
			this.path_disp = doc.documentElement.textContent 
		}
	}
}).mount('#reactive')
onload = function() {
	const path = location.search.substr(1) 
	getdir(Server+Shareroot+path).then(list=>{
		console.log(list)
		app.path = path 
		app.setlist(list)
		app.extmsg = "" 
	}).catch(msg=>{
		console.log(msg)
		app.path = path 
		app.setlist([])
		app.extmsg = msg 
	})
}
</script>
</html>